* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 800px;
}

.box {
 width: 100%;
  height: 200px;
}

.img1 {
  background-image: url(img/box1.jpg);
  background-position: center;
}

.img2 {
  background-image: url(img/box2.jpg);
  background-position: center;
}

.img3 {
  background-image: url(img/box3.jpg);
  background-position: center;
}

.img4 {
  background-image: url(img/box4.jpg);
  background-position: center;
}